name: Build

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  idf-build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:v5.5.2

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            #repository: memovai/mimiclaw
            repository: flatek/esp32mimiclaw  
            token: ${{ secrets.PAT }}
            ref: main 
            path: 
            
       - name: print token
        shell: bash
        run: echo "123"
              
      - name: Build firmware (ESP32-S3)
        shell: bash
        run: |
          . "$IDF_PATH/export.sh"
          idf.py set-target esp32s3
          idf.py fullclean
          idf.py build
          
# 上传 bin 文件作为 Artifact（关键步骤）
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bin file          # Artifact 名称
          path: /__w/test/test/build/*       # bin 文件路径，支持通配符如 ./bin/*
          retention-days: 30       # 可选：保留天数（1-90）
